<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<head th:replace="include :: header(水果管理)"></head>
<body class="lyear-layout-web gray-bg">
<div class="lyear-layout-web">
	<div class="lyear-layout-container">
		<!--左侧导航-->
		<div th:include="include :: aside(水果管理)"></div>
		<!--	头部导航-->
		<div th:include="include :: top(水果管理)"></div>
		<!--页面主要内容-->
		<main class="lyear-layout-content" style="padding-top:100px">
			<div class="wrapper wrapper-content " style="padding-top:0px">
				<div class="col-sm-12">
					<div class="ibox">
						<div class="ibox-body">
							<div class="fixed-table-toolbar">
								<div class="columns pull-left">
									<button  type="button" class="btn  btn-primary" onclick="add()">
										<i class="fa fa-plus" aria-hidden="true"></i>添加
									</button>
									<button type="button" class="btn  btn-danger"
											onclick="batchRemove()">
										<i class="fa fa-trash" aria-hidden="true"></i>删除
									</button>
								</div>
							</div>
							<table id="exampleTable" data-mobile-responsive="true">
							</table>
						</div>
					</div>
				</div>
			</div>
			<div>
				<script type="text/javascript" th:inline="javascript">
					var s_edit_h = 'hidden';
					var s_remove_h = 'hidden';
					var s_resetPwd_h = 'hidden';

					<!-- var paraMap_js= [[${paraMap}]]; -->

				</script>
			</div>
			<div>
				<script type="text/javascript">
					s_edit_h = '';
				</script>
			</div>
			<div>
				<script type="text/javascript">
					var s_remove_h = '';
				</script>
			</div>
			<div>
				<script type="text/javascript">
					var s_resetPwd_h = '';
				</script>
			</div>
		</main>
</div>
</div>
		<div th:replace="include::footer"></div>
		<script type="text/javascript" src="/webapp/js/fruits/fruits.js"></script>
</body>
</html>